
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
#header-sec{
    width: 100%;
}


nav{
    background: rgb(224, 220, 220);
    height: 80px;
    width: 100%;
    position: fixed;
    
}
label.logo{
    color: rgb(51, 7, 7);
    font-weight: bold;
    font-size: 30px;
    line-height: 80px;
    float: left;
    margin: 0 80px;
    
}
label.logo span{
    color: rgb(197, 166, 100);
}
ul{
    float: right;
    padding-right: 50px;
    
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
}
 ul li a{
    padding: 5px 8px;
    color: rgb(36, 7, 7);
    font-size: 18;
    font-weight:600;
    text-transform: uppercase;
    border-radius: 10px;
    position: relative;
    
}
ul li a::after{
    content: "";
    position: absolute;
    background:linear-gradient(to right, rgb(112, 84, 240),rgb(95, 199, 212));
    height: 3px;
    width: 0%;
    bottom: 0;
    left: 0;
    transition: width .3s;
}
ul li a:hover::after{
    width: 100%;
}

#check{
    display: none;
}
.checkbtn{
    color:rgb(19, 2, 2);
    font-size: 30px;
    float: right;
    line-height: 80px;
    padding-right: 40px;
    display: none;
}
@media(max-width:984px){
    label.logo{
    
    font-weight: bold;
    font-size: 25px;
    line-height: 80px;
    float: left;
    margin: 0 40px;
    }
    nav ul li a{
    padding: 5px 8px;
    color: white;
    font-size: 14px;
    font-weight:600;
    text-transform: uppercase;
    border-radius: 10px
    }
}
@media(max-width:865px){
   .checkbtn{
    display: block;
    cursor: pointer;
} 
    ul{
        position: fixed;
        background: black;
        top: 80px;
        width: 100%;
        height: 50vh;
        text-align: center;
        left: -100%;
        
    }
    nav ul li{
        display: block;
        line-height:50px;
        
        border-bottom: 1px solid rgba(225, 244, 248, 0.4);
        
    }
 
    #check:checked ~ ul{
        left: 0;
        transition: all 0.5s ease-in;
    }
}


/* image section */

.img-content img{
    height: 500px;
    width: auto;
    margin-top: 62px;
}
.header-body{
    display: flex;
    max-width: 1140px;
    justify-content: center;
    margin: 0 auto;
}
.content-header{
    background: rgb(231, 229, 229);
    height: 90vh;
 
    
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    
    flex-basis: 60%;
    
}

.img-content{
   display: flex;
   flex-basis: 30%;
  
}
.first-p{
    font-size: 20px;
    line-height: 80px;
    font-weight: 500;
}
.text h1{
    font-size: 50px;
    line-height: 60px;
    background:linear-gradient(to right,rgb(15, 201, 145),rgb(117, 117, 236));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

button.button{
    background: rgb(235, 176, 14);
    width: 170px;
    height: 50px;
    margin-top: 50px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.text span{
    color: rgb(78, 74, 74);
    font-size: 14px;
    margin-top: 20px;
}




/* responsive size design */


@media(max-width:865px){
  .header-body{
      display: flex;
      flex-direction: column;

      
  }

  .content-header{
    height:160vh;
  }
  .text{
      flex-basis: 100%;
  }
  .text h1{
      font-size: 40px;
  }
  .img-content{
      flex-basis: 100%;
      justify-content: center;
  }
  .img-content img{
    height: 500px;
    width: auto;
    margin-top: 0px;
}
}


/* about section design */

.progress-bar{
    flex-basis: 50%;
    margin-left: 10px;
    padding: 50px;
}
.personal-details{
    /* border: 2px solid red; */
    flex-basis: 50%;
    margin-right: 10px;
    
}
.flex-conteiner{
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
}
.common-tittle{
    text-align: center;
    line-height: 70px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(92, 92, 92);
    font-size: 35px;
}
.common-tittle::before{
    content: "";
    width: 20%;
    height: 2px;
    background: rgb(213, 243, 247);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 50%;
    transform: translate(-50%);
    
}
.common-tittle::after{
    content: "";
    width: 5%;
    height: 6px;
    
    background:linear-gradient(to right,rgb(15, 201, 145),rgb(117, 117, 236));
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50px;
}
.personal-details h3{
    font-size: 25px;
    color: rgb(88, 82, 82);
    line-height: 80px;
}
.personal-details .per-p{
    font-size: 15px;
    text-transform: capitalize;
    text-align: justify;
    font-weight: 400;
    
    
}
.bio-wrapping{
 display: flex;
 padding-top: 20px;
 
}

.left-bio li span{
    font-weight: normal;
}
.left-bio li{
    list-style-type: square;
    font-weight: bold;
    line-height: 40px;
    font-size: 14px;
    text-transform: uppercase;
}
.left-bio{
    position: relative;
    flex-basis: 50%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    
    
}
.right-bio li{
    list-style-type: square;
    font-weight: bold;
    line-height: 40px;
    font-size: 14px;
    text-transform: uppercase;
}
.right-bio li span{
    font-weight: normal;
}
.right-bio{
    
    flex-basis: 50%;
}
.social-logos{
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.social-logos a:first-child{
    margin-left: 0;
}
.social-logos a{
    margin-left: 10px;
}
.social-logos a i{
    border: 1px solid red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 15px;
    font-size: 22px;
    

}
/* skillss bar design */

.progress-bar li{
    margin: 20px 0;
}
.bar{
    background: #e9edf5;
    display: block;
    height: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 10px #bec0c0b3;
    border-radius: 50px;
}
.bar span{
    height: 3px;
    background:linear-gradient(to right,rgb(15, 201, 145),rgb(117, 117, 236));
    float: left;
    border-radius: 50px;
}
.html{
    width: 90%;
    animation: html 2s;
}
.css{
    width: 70%;
    animation: css 2s;
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
.j-query{
    width: 60%;
    animation: jquery 2s;
}
@keyframes jquery{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
.bootstarp{
    width: 85%;
    animation: bootstarp 2s;
}
@keyframes bootstarp{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
.react{
    width: 55%;
    animation: react 2s;
}
@keyframes react{
    0%{
        width: 0%;
    }
    100%{
        width: 55%;
    }
}
.javascript{
    width: 80%;
    animation: javascript 2s;
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@media(max-width:865px){
  .flex-conteiner{
      display: flex;
      flex-direction: column;
  }
  .personal-details{
      display: flex;
      flex-direction: column;
      padding: 0 50px;
  }
  .bio-wrapping{
      display: flex;
      flex-direction: column;
      padding-left: 60px;
  }
  
}
.first-p{
    padding-top: 100px;
}